.site-category{
  padding-top: $padding-b-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  clear: both;
  width: 100%;

  ul{
  list-style: none;
  line-height: 1.5;
  text-align: center;
  }
  ul li {
    display:inline;
    border-left:1px solid #999;
    padding:0 10px;}

  ul li:first-child{border-left:none;}

  ul li a {
  color: $header-link-color;
  font-weight:800;
  }
}
