---
layout: default
---
{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<!-- Pagination is active -->
{% assign paginator = page.paginator %}

<div class="posts">
  {% for post in paginator.posts %}
    <div class='post-teaser'>
      <h2>
        <a class='post-link' href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      <p class='meta'>
        {{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path}}" class="button" >
    <i class="fa fa-chevron-left"></i>
    {{ site.theme_settings.str_previous_page }}
  </a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path}}" class="button" >
    {{ site.theme_settings.str_next_page }}
    <i class="fa fa-chevron-right"></i>
  </a>
  {% endif %}
</div>
{% endif %}
