---
layout: default
---
{% if page.paginator %}

  <!-- Pagination is active -->
  {% assign paginator = page.paginator %}

  <section>
    <div class="posts">
      <h2 class="post-title">Recent Post</h2>
    <!-- Show post excerpts for the current page -->
    {% for post in paginator.posts limit:paginator.per_page %}
      <article>
              <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title }}
                </a>
              </h2>
              <p class="meta">
                {{ post.date | date: "%B %-d, %Y" }}
              </p>

        <!--<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <h5>{{ post.date }}</h5>
        <p>{{ post.excerpt }}</p> -->
      </article>
    {% endfor %}
  </div>
  </section>
  <!-- Show navigation next/previous page links if applicable -->
  <nav><p>
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path}}" class="button" >
        <i class="fa fa-chevron-left"></i>
        {{ site.theme_settings.str_previous_page }}
      </a>
      {% endif %}
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path}}" class="button" >
        {{ site.theme_settings.str_next_page }}
        <i class="fa fa-chevron-right"></i>
      </a>
      {% endif %}
    </div>
    {% endif %}
  </p></nav>

{% else %}

  <!-- Pagination is not active -->
  <h1>Category index for &ldquo;{{ page.title }}&rdquo;</h1>

  <section>
    <!-- Show excerpts for all posts in this category -->
    {% for post in page.posts %}
      <article>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <h5>{{ post.date }}</h5>
        <p>{{ post.excerpt }}</p>
      </article>
    {% endfor %}
  </section>

{% endif %}
